@import uk.gov.hmrc.hmrcfrontend.views.html.helpers.HmrcLayout
@import views.html.helper.CSPNonce
@import controllers.routes
@import config.FrontendAppConfig
@import play.api.mvc.Request
@import play.api.i18n.Messages
@import uk.gov.hmrc.webchat.client.WebChatClient

@this(hmrcLayout: HmrcLayout, webChatClient: WebChatClient)

@(title: String,
  appConfig: FrontendAppConfig,
  scriptElem: Option[Html] = None,
  js: Seq[String] = Seq("show-hide-content.js", "offpayrollfrontend.js"),
  css: Option[String] = Some("offpayrollfrontend-app")
)(contentBlock: Html)(implicit request: Request[_], messages: Messages)

@headContent = {
    <meta name="format-detection" content="telephone=no" />
    @css.map { x =>
        <link rel="stylesheet" href='@routes.Assets.versioned(s"stylesheets/$x.css")' />
  }
}

@scriptElement = {
@scriptElem.map(x => x)
@{webChatClient.loadRequiredElements()}
@{webChatClient.loadWebChatContainer("HMRC_Anchored_1")}
@js.map { x =>
    <script src='@routes.Assets.versioned(s"javascripts/$x")'> </script>
}
}

@hmrcLayout(
    pageTitle = Some(title),
    isWelshTranslationAvailable = true,
    serviceUrl = Some(routes.IndexController.onPageLoad.url),
    additionalHeadBlock = Some(headContent),
    additionalScriptsBlock = Some(scriptElement),
    nonce = CSPNonce.get,
)(contentBlock)